.jumbotron {
    font-family: 'Macondo', cursive;
    background-image: linear-gradient(to bottom right, #a6232b, #ffc72f);
    text-shadow: 2px 2px;
}

body {
    background-color: grey;
}

#logo {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
}

footer a:active {
    color: lightgray;
}

footer a:visited {
    color: whitesmoke;
}

.navIcon {
    margin-right: 5px;
}